.portfolio-page {
    background: radial-gradient(50% 50% at 50% 50%, #1A1A18 75.5%, #191917 91%, #161614 100%);
    height: 200%;
    height: 300vh;
    /* top: -50px;
    position: relative; */
}

.portfolio-page h1 {
    color: #000;
    text-align: center;
    font-family: Oswald;
    /* font-size: 130px; */
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 9px;
    top: 80px;
    position: relative;
}

.portfolio-page p {
    color: #000;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    font-style: normal;
    /* font-weight: 200; */
    line-height: normal;
    top: 25px;
    position: relative;
}

.about-page-image {
    display: flex;
    justify-content: center;
}

.about-page-image img {
    width: 931px;
    height: 493.699px;
    flex-shrink: 0;
    top: 60px;
    position: relative;
}

/* .centered-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.left-title {
    top: 240px;
    position: relative;

}

.svg-image {
    left: 160px;
    top: 60px;
    position: relative;

}

img.portfolio-image {
    width: 960px;
    height: 544px;
    flex-shrink: 0;
    top: 160px;
    position: relative;
}

.portfolio-page-content{
    top: 140px;
    position: relative;
    
}

.portfolio-page-content h1{
    color: #FFF;
text-align: center;
font-family: Oswald;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 9px;
}
.portfolio-page-content p{
    color: #fff;
    /* min-width: 1034px; */
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
top: 40px;
position: relative;
}
img.card-image{
height: 370px;
flex-shrink: 0;
}
.porfolio-cards h4{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 9px;
}
.porfolio-cards hr{
    border: 6px solid white;
    width: 70%;
}
.content{
text-align: center;
font-family: Inter;
letter-spacing: 9px;
}
span.bold{
    display: flex;
    justify-content: center;
}
.portfolio-page-content {
    max-width: 800px; /* Set a maximum width for the content */
    margin: 0 auto; /* Center the content horizontally */
    padding: 0 20px; /* Add some padding for better readability */
    top: -50px;
    position: relative;
    
   
  }
  
  /* Media query for smaller screens */
  @media (max-width: 767px) {
    .portfolio-page-content {
      max-width: 100%; /* Allow the content to take up the full width on small screens */
      padding: 0 10px; /* Adjust padding for smaller screens */
    }
  
    .portfolio-page-content h1 {
      font-size: 3.5em; /* Adjust the font size for smaller screens */
      margin-bottom: 10px; /* Add some margin to the bottom for spacing */
    }
  }
  